<div class="form-group col-sm-3">
	<select class="form-control select" id="standard" data-placeholder="Standard..">
		<option></option>
		<option>7<sup>th</sup></option>
		<option>8<sup>th</sup></option>
		<option>9<sup>th</sup></option>
	</select>
</div>
<div class="form-group col-sm-3">
	<select class="form-control select" id="batch" data-placeholder="Batch..">
		<option></option>
		<option>GSEB</option>
		<option>CBSE</option>
		<option>ICSE</option>
	</select>
</div>
<div class="form-group col-sm-3">
	<button class="btn btn-primary" id="get_attendance">
		Go
	</button>
</div>
<div id="attendance_table">
</div>