{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/manage_batch.js' %}"></script>
{% load crispy_forms_tags %}
{% crispy form %}
<hr/>
<center>
	<h2>Manage Batch</h2>
	<div class="bg-white col-sm-12 lr0pad" id="all_batches_div">
		<div class="col-sm-12 lr0pad" id="all_batches_head">
			<div class="col-sm-1">
				<p class="h3">#</p>
			</div>
			<div class="col-sm-2">
				<p class="h3">Standard</p>
			</div>
			<div class="col-sm-2">
				<p class="h3">Board</p>
			</div>
		</div>
	{% if batch_all %}
		{% for batch in batch_all %}
		<div class="col-sm-12 batch_row lr0pad">
			<div class="col-sm-1">
				<p class="h4">{{ forloop.counter }}</p>
			</div>
			<div class="col-sm-2">
				<p class="h4">{{ batch.batch_std }}</p>
			</div>
			<div class="col-sm-2">
				<p class="h4">{{ batch.batch_board }}</p>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-danger batch_delete_btn" rel="{{ batch.pk }}">
					<span class="glyphicon glyphicon-trash"></span> Remove
				</button>
			</div>
		</div>
		{% endfor %}
	{% else %}
		<h3 style="margin-top: 5%;">No batches found.</h3>
	{% endif %}

	</div>
</center>
<script type="text/javascript">
	$(document).ready(function()
	{
		$("#batch_form").validate(
		{
			rules:
			{
				batch_std: "required",
				batch_board: "required",
			},
			messages:
			{
				batch_std: "Standard is required",
				batch_board: "Board is required",
			}
		});
		$("#id_batch_std, #id_batch_board").change(function()
		{
			$(".error").trigger('click');
		});
	});
</script>