{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/manage_batch.js' %}"></script>
{% load crispy_forms_tags %}
{% crispy form %}
<hr/>
<center>
	<h2>Manage Board</h2>
	<div class="bg-white col-sm-12 lr0pad" id="all_boards_div">
		<div class="col-sm-12 lr0pad" id="all_boards_head">
			<div class="col-sm-1">
				<p class="h3">#</p>
			</div>
			<div class="col-sm-2">
				<p class="h3">Board</p>
			</div>
		</div>
	{% for board in board_all %}
	<div class="col-sm-12 board_row lr0pad">
		<div class="col-sm-1">
			<p class="h4">{{ forloop.counter }}</p>
		</div>
		<div class="col-sm-2">
			<p class="h4">{{ board }}</p>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-danger board_delete_btn" rel="{{ board.pk }}">
				<span class="glyphicon glyphicon-trash"></span> Remove
			</button>
		</div>
	</div>
	{% endfor %}
	</div>
</center>