{% load staticfiles %}
<script src="{% static 'js/edit_student.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_student.css' %}"/>
<div class="container" id="main_table">
	<div class="row bg-red white" id="edit_student_header">
		<div class="col-sm-2 head_cell lr0pad">
			<p class="h2">Firstname</p>
		</div>
		<div class="col-sm-2 head_cell lr0pad">
			<p class="h2">Batch</p>
		</div>
		<div class="col-sm-2 head_cell lr0pad">
			<p class="h2">SMS number</p>
		</div>
		<div class="col-sm-1 head_cell lr0pad">
			<p class="h2">Fees</p>
		</div>
		<div class="col-sm-2 head_cell lr0pad">
			<p class="h2"></p>
		</div>
	</div>
	{% for record in students %}
	<div class="row student_record">
		<div class="data_grp col-sm-2 lr0pad" rel="name@{{ record.pk }}">
			<div class="edit_btn_div col-sm-3 lr0pad">
				<button class="btn btn-reddit edit_btn col-sm-offset-1 col-sm-10" style="display: none">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</div>
			<div class="data_div col-sm-6 lr0pad">
				<p class="h4 data">{{ record.name }}</p>
			</div>
		</div>
		<div class="data_grp col-sm-2 lr0pad" rel="batch@{{ record.pk }}">
			<select class="select batch_edit col-sm-12">
				{% for batch in batches %}
					<option value="{{ batch.pk }}" {% if batch.pk == record.batch_id %} selected {% endif %}>{{ batch.batch_id }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="data_grp col-sm-2 lr0pad" rel="sms_mob@{{ record.pk }}">
			<div class="edit_btn_div col-sm-3 lr0pad">
				<button class="btn btn-reddit edit_btn col-sm-offset-1 col-sm-10" style="display: none">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</div>
			<div class="data_div col-sm-6 lr0pad">
				<p class="h4 data">{{ record.sms_mob }}</p>
			</div>
		</div>
		<div class="data_grp col-sm-2 lr0pad" rel="total_fees@{{ record.pk }}">
			<div class="edit_btn_div col-sm-3 lr0pad">
				<button class="btn btn-reddit edit_btn col-sm-offset-1 col-sm-10" style="display: none">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</div>
			<div class="data_div col-sm-6 lr0pad">
				<p class="h4 data"> {{ record.total_fees }}</p>
			</div>
		</div>
		<div class="col-sm-2 lr0pad" rel="modal_div">
			<button class="btn btn-primary btn-sm col-sm-offset-2 col-sm-5 full_edit_btn lr0pad pull-right" data-toggle="modal" data-target="#edit_modal" rel="{{ record.pk }}">
				<span class="glyphicon glyphicon-pencil"></span>
				<span class="h4">&nbsp; Edit</span>
			</button>
		</div>
		<div class="col-sm-2 lr0pad">
			<button class="btn btn-danger btn-sm col-sm-offset-2 col-sm-5 delete_btn lr0pad" rel="{{ record.pk }}">
				<span class="glyphicon glyphicon-trash"></span>
				<span class="h4">&nbsp; Delete</span>
			</button>
		</div>
	</div>
	{% endfor %}
	<div id="edit_modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-info">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Student Info</h4>
				</div>
				<div class="modal-body" id="edit_modal_body">
					<div class="col-sm-12" id="edit_content">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>