{% load staticfiles %}
<script src="{% static 'js/edit_student.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_student.css' %}"/>

<div class="col-sm-12">
	<div class="col-sm-5">
		<select id="search_by_batch" class="select col-sm-12" data-placeholder="Search by Batch">
			<option value=""></option>
			{% for batch in batches %}
				<option value="{{ batch.pk }}">{{ batch.batch_id }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-sm-5">
		<input type="text" id="search_by_name" class="col-sm-offset-1 col-sm-12" placeholder="Search by Name" style="height: 42px; border: 1px solid #aaa; border-radius: 5px; font-size: 115%"/>
	</div>
</div>
&nbsp;<hr/>
<div id="append_student_records" class="container-fluid">
</div>