{% load staticfiles %}
<!-- Main Footer -->
<button data-toggle="modal" data-target="#loader_div" id="loader_trigger" style="display: none"></button>
<div id="loader_div" class="modal fade" role="dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <img src="{% static 'img/loader.gif' %}">
</div>
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2015 <a href="dashboard/">Potential++</a>.</strong> All rights reserved.
</footer>
</div><!-- ./wrapper -->