    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Potential++</title>
        {% load staticfiles %}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <base href="http://{{ request.get_host }}/"></base>
        <link rel="stylesheet" href="{% static 'others/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/ionicons.css' %}">
        <link rel="stylesheet" href="{% static 'others/dist/css/AdminLTE.min.css' %}">
        <link rel="stylesheet" href="{% static 'others/dist/css/skins/_all-skins.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link rel="stylesheet" href="{% static 'css/select2.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-confirm.css' %}">
        <link rel="stylesheet" href="{% static 'js/square/purple.css' %}">
        <script src="{% static 'others/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
        <script src="{% static 'others/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-confirm.js' %}"></script>
        <script src="{% static 'js/icheck.js' %}"></script>
        <script>
        $(document).ready(function()
        {
            $('.dropdown-toggle').dropdown();
        });
        </script>
        <script src="{% static 'js/select2.js' %}"></script>
        <script src="{% static 'js/attendance.js' %}"></script>
        <script src="{% static 'js/general.js' %}"></script>
        <!-- Slimscroll 
        <script src="{% static 'others/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>-->
        <script src="{% static 'others/dist/js/app.min.js' %}"></script>
      </head>
      <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

          <header class="main-header">
            <!-- Logo -->
            <a href="javascript:void(0)" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>A</b>P</span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><b>Admin</b> Panel</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
              <!-- Sidebar toggle button-->
              <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
              </a>
              <div id="title_div">
                <span id="link_title">Header</span>
              </div>
            </nav>
          </header>