<form action="student/attendance/" method="POST" name="NameForm">
	{% for attendance in attendance_all %}
		<div class="col-sm-12">
			<div class="col-sm-1">
				{{ forloop.counter }}
			</div>
			<div class="col-sm-2">
				{{ attendance.student.name }}
			</div>
			<div class="col-sm-4">
				<div class="col-sm-6">
					<label class="radio-inline">
						<input type="radio" class="attendance_radio" name="{{ attendance.student.pk }}" value="1" {% if attendance.attends == '1' %} checked {% endif %}> Present
					</label>
				</div>
				<div class="col-sm-6">
					<label class="radio-inline">
						<input type="radio" class="attendance_radio" name="{{ attendance.student.pk }}" value="0" {% if attendance.attends == '0' %} checked {% endif %}> Absent
					</label>
				</div>
			</div>
		</div>
		<div class="clearfix"></div><br/>
	{% endfor %}
	{% csrf_token %}
	<input type="hidden" name="batch_id" value="{{ batch_id }}"/>
	<input type="hidden" name="attendance_date" value="{{ attendance_date }}"/>
	<div class="col-sm-12">
		<button class="btn btn-success btn-lg">Save</button>
	</div>
</form>