<form action="" method="POST">

	{% for student in all_student %}
		
		<div class="col-sm-12">
			
			<div class="col-sm-2">{{ student.name }}</div>
			<div class="col-sm-4">
				<div class="col-sm-6">
					<label class="radio-inline">
						<input type="radio" class="attendance_radio" name="optradio[{{ student.pk }}]" checked value="1"> Present
					</label>
				</div>
				<div class="col-sm-6">
					<label class="radio-inline">
						<input type="radio" class="attendance_radio" name="optradio[{{ student.pk }}]" value="0"> Absent
					</label>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="clearfix"></div><br/>
		
	<div class="col-sm-12">
		<button class="btn btn-success btn-lg">Save</button>
	</div>
</form>