<div class="form-group col-sm-3">
	<select class="form-control select" id="batch_attendance" data-placeholder="<Select Batch>">
		<option></option>
		{% for batch in batch_all %}
			<option value="{{ batch.batch_id }}">{{ batch.batch_id }}</option>
		{% endfor %}
	</select>
</div>
<div class="form-group col-sm-3">
	<input type="month" name="attendance_month" id="attendance_month" class="form-control pointer"/>
</div>
<div class="form-group col-sm-3">
	<button class="btn bg-orange" id="view_attendance_btn">
		<span class="glyphicon glyphicon-search"> View</span>
	</button>
</div><br/><br/><br/>
<div id="view_attendance_table">
</div>