#main_table
{
	box-shadow: -5px 5px 5px gray;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-top: 20px;
}
.data_grp
{
	padding: 5px;
}
.data_div
{
	cursor: pointer;
	height: 50px;
}
.data_div p
{
	padding: 5px 0px 5px 8px;
	margin-top: 3px;
}
p.data
{
	height: 30px !important;
}
.data[contenteditable=true]:focus
{
	background: white;
	border: 2px solid black;
}
.edit_btn
{
	height: 30%;
}
.lr0pad
{
	padding-left: 0px;
	padding-right: 0px;
}
.head_cell
{
	padding-left: 4%;
}
#edit_student_header p
{
	font-size: 150%;
}