body
{
	font-size: 17px;
}
.pointer, a, input[type=radio], select
{
	cursor: pointer;
}
.attendance_radio
{
	margin-right: 15px;
	width: 20px;
	height: 20px;
	padding: 10px;
	color: red;
}
input[type=date], input[type=month]
{
	height: 42px;
	font-size: 120%;
	border-radius: 2px;
	border: 1px solid #aaa;
}
.font125
{
	font-size: 125%;
}
#content_div
{
	min-height: 600px;
	overflow-x: auto !important;
	margin-right: 10px !important;
}
.white
{
	color: white;
}
.lr0pad
{
	padding-left: 0px;
	padding-right: 0px;
}
.bg-white
{
	background-color: white; 
}
.current_link
{
	color: white !important;
}
label.error
{
	color: #ff0000;
	font-weight: 400;
}
a
{
	text-decoration: none !important;
}
.select2-selection__rendered, .select2-selection__arrow
{
	font-size: 115%;
	font-weight: 650;
	line-height: 36px !important;
	height: 40px !important;
}
.select2-selection__arrow
{
	margin-right: 8px;
}
.select2-selection
{
	height: 42px !important;
}
.bg-ltblue
{
	background: #00c0ef;
}
.form-input
{
	border-radius: 3px;
	font-size: 20px;
}
input[type=text]
{
	height: 42px;
	border-radius: 5px;
}
hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

#title_div
{
	text-align: center;
	padding-top: 0.3%;
}
#link_title
{
	color: white;
	font-size: 200%;
	margin-right: 8%;
}
#logout_link
{
	margin-right: 2%;
}
#logout_link .logout_text
{
	font-size: 140%;
}
#logout_link a
{
	color: white;
	font-size: 130%;
	vertical-align: middle;
}
#edit_full_form input, #edit_full_form select 
{
	width: 110%;
	border-radius: 4px;
}
#main_table .full_edit_btn, #main_table .delete_btn
{
	margin-top: 10px;
}
#edit_modal .modal-header
{
	background: #00a65a;
	border: 0px;
}
#main_table #edit_modal_body
{
	min-height: 600px;
	overflow-y: auto;
	border: 3px solid #00a65a;
	border-top: 0px;
}
#main_table .modal-header h4
{
	font-weight: 600;
	font-size: 200%;
	color: white;
}
#main_table .modal-header .close
{
	opacity: 1;
	z-index: 300;
	font-size: 200%;
	margin-top: 1%;
	margin-right: 1%;
	outline: none;
}
#main_table .modal-header .close:hover
{
	color: #fff;
}
#edit_modal_body input
{
	border: 1px solid #aaa;
	padding: 2px 5px;
}
#edit_modal_body input:focus
{
	outline: 1px solid #0da3e2;
}
.student_record
{
	border-bottom: 1px solid #ccc;
	margin-top: 3px;
}
.student_record:hover
{
	background: rgba(255, 230, 230,0.35);
}
#loader_div .close
{
	display: none;
}
#loader_div img
{
	margin-left: 50%;
	margin-top: 18%;
	height: 18%;
}
#view_attendance_result
{
	box-shadow: -3px 3px 3px gray;
	background: white;
	border-top: 6px solid #383663;
}
#view_attendance_result td, #view_attendance_result th
{
	border: 1px solid #ccc;
}
#view_attendance_result th
{
	padding: 5px;
	text-align: center;
}
#view_attendance_result td
{
	padding: 5px;
	text-align: center;
}
#view_attendance_result .student_name
{
	font-weight: 800;
	font-size: 120%;
}
#view_attendance_result .present
{
	color: #00b300;
}
#view_attendance_result .absent
{
	color: #ff0000;
}
#view_attendance_btn, #get_attendance_btn
{
	font-size: 115%;
	font-weight: 600;
}
#attendance_table
{
	background: white;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	padding-bottom: 10px;
	display: none;
	border-radius: 3px;
}
#attendance_header
{
	background: #605ca8;
	color: white;
	font-weight: 700;
	font-size: 125%;
	height: 35px;
	padding-top: 3px; 
}
#attendance_header>div
{
	padding-left: 0px;
	padding-right: 0px;
}
.attendance_row
{
	padding-left: 15px !important;
}
.attendance_row>div, .attendance_row label
{
	font-weight: 600;
	font-size: 110%;
	padding-left: 0px;
	padding-right: 0px;
}
.attendance_row:first-child
{
	border-top: 1px solid #ccc;
}
.attendance_row
{
	padding: 7px 0px;
	border-bottom: 1px solid #ccc;
}
.attendance_row:hover
{
	background: #e6e6e6;
}
#attendance_save
{
	margin-top: 9px;
}
#all_boards_div, #all_batches_div, #all_standards_div
{
	border: 2px solid #0d9cd9;
}
#all_boards_head, #all_batches_head, #all_standards_head
{
	background: #0d9cd9;
	color: white;
}
#all_boards_head p, #all_batches_head p, #all_standards_head p
{
	margin-top: 10px;
}
#all_boards_div .board_row, #all_batches_div .batch_row, #all_standards_div .standard_row
{
	border-bottom: 1px solid #ccc;
	min-height: 40px;
}
#all_boards_div .board_row:hover, #all_batches_div .batch_row:hover, #all_standards_div .standard_row:hover
{
	background-color: rgba(183, 230, 251, 0.3);
}
#all_boards_div .board_row .board_delete_btn, #all_batches_div .batch_row .batch_delete_btn, #all_standards_div .standard_row .standard_delete_btn
{
	margin-top: 2px;
}